menu "Application Configuration"

	choice RF_DIRECTION
		prompt "Communication direction"
		default RF_RECEIVER
		help
			Select Communication direction.
		config RF_RECEIVER
			bool "Receiver"
			help
				Execute Receiver.
		config RF_TRANSMITTER
			bool "Transmitter"
			help
				Execute Transmitter.
	endchoice


endmenu
